<ion-header>
  <app-header></app-header>
  <ion-toolbar class="toolbar">
    <!-- <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons> -->
    <ion-title style="padding-left: 0;">
      <div class="contenedorTitulo">
        <div>BOTON DE PANICO</div>
        <div id="divImg"><ion-menu-button></ion-menu-button></div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="login">
  <h5 class="titulo">GRILLA DE ALERTAS</h5>

  <ion-grid>
    <ion-row class="fila" >
      <ion-col class="columnaTitulo">
        ID
      </ion-col>
      <ion-col class="columnaTitulo">
        Fecha  
      </ion-col>
      <ion-col class="columnaTitulo">
        Estado  
      </ion-col>
    </ion-row>
    <ion-row class="fila" *ngFor="let item of prospectos?.data">
      <ion-col class="columna">
        {{item?.idAlerta}} 
      </ion-col>
      <ion-col class="columna">
        {{item?.AlertaFechaDesde}} 
      </ion-col>
      <ion-col class="columna">
        {{item?.descripcion}} 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

